
.masonry-container {
    column-count: 3;
    /*column-gap: 15px ;*/
   }
   .masonry-item {
    display: inline-block impr;
    width: 100%;
    margin: 15px;
   }
   .masonry-item img {
    display:block;
    width: 100% ;

    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
   }

   .fa-heart{
    color: red;
   }
   .card{
    width: 30%;
   }

   .masonry-item img:hover {
    /* opacity: 0.5; */
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
 }


